*{
    padding: 0;
    margin: 0;
}

#slider{
    margin: 10px;
    width: 800px;
    height: 300px;
    overflow: hidden;
    position: relative;    
}

.slide{
    position: absolute;
}

button{
    font-size: 64px;
    color: white;
    background: transparent;
    border: none;    
    outline: none;    
    cursor: pointer;
    position: absolute;
    top: 110px;
    transition-duration: 0.3s;
}

#next{
    left: 760px;
}

#previous{
    left: 20px;
}

button:hover{
    color: lightgreen;
}